@charset "utf-8";
#wrap {
	width: 100%;
	height : 100px;
	margin: 0 auto;
}
/* clearfix는 li에 float:left를 하는경우
내려가는 것을 방지하는 마감선이다.
li 부모태그(ul/ol)에 class로 지정한다. */
.clearfix {
	*zoom: 1;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '';
}
section {
	width: 100%;
}

header {
	width: 100%;
	height: 130px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 2px solid #000;
	background-color: #f6f5f0;
	position: fixed;
	z-index: 2;
}
/* margin:0 auto는 가운데로 정렬. width값이 있어야 먹힌다.
position:relative는 부모에게 걸어주도록한다.움직이는 컨텐츠의 기준점이 되는 것임. */
header>.menubar {
	position: relative;
	width: 1100px;
	height: 130px;
	margin: 0 auto;
}
/* absolute로 설정하여 relative를 건 부모 기준으로
위치 이동시키는 것.left,top,right,bottom으로 이용가능 */
header>.menubar>.logo {
	position: absolute;
	left: 10px;
	top: 23px;
	width: 80px;
	background-image: url(../img/logo.png);
	/* no-repeat은 이미지의 반복을 막아준다 */
	background-repeat: no-repeat;
	/* cover:가로기준으로 사이즈 지정 */
	background-size: cover;
}
/* a태그의 가로세로 값을 지정하려면
display:block 사용해야함.
보통 a태그에 세로값 지정합니당 */
header>.menubar>.logo>a {
	display: block;
	height: 80px;
	/* 안드로메다 : 글을 눈에 안보이도록 함. 시멘틱적 */
	text-indent: -9999px;
}

header>.menubar>nav {
	position: absolute;
	right: 40px;
	bottom: 27px;
}

header>.menubar>nav>.gnb {
	
}

header>.menubar>nav>.gnb>li {
	float: left;
}

header>.menubar>nav>.gnb>li>a {
	height: 50px;
	padding: 0 30px;
	font-size: 13px;
	line-height: 50px;
	text-align: center;
	position: relative;
	display: inline-block;
}

header>.menubar>nav>.gnb>li>ul>li {
	display: none;
	position: relative;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	background-color: #f9f9f9;
}

header>.menubar>nav>.gnb>li>ul>li a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
/* 드롭다운 메뉴바 이동 방지 */
.menu1 {
	position: fixed;
}

.menu2 {
	position: fixed;
}

.menu3 {
	position: fixed;
}

.menu1 li {
	width: 100px;
	display: block;
}

.menu2 li {
	width: 100px;
	display: block;
}

header>.menubar>nav>.gnb>li:hover {
	background-color: gray;
	FONT-WEIGHT: bolder;
}

header>.menubar>nav>.gnb>li:hover .menu1 li {
	display: block;
}

header>.menubar>nav>.gnb>li:hover .menu2 li {
	display: block;
}

header>.menubar>nav>.gnb>li:hover .menu3 li {
	display: block;
}
/* 헤더 종료*/

/* 타이틀 */
#title{
	position: relative;
	width: 1100px;
	top: 170px;
    height: 98px;
    margin: 0 auto;
}
/* 타이틀 */
/* 메인 게시판 */
#container {
	position: relative;
	width: 1100px;
	top: 170px;
	margin: 0 auto;
}

/* 공지 사항 */
.notice_tb {
	width: 1100px;
	position: relative;
}
table.notice_tb th {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    padding: 17px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
.title1 .num{
	text-align: left;
	padding-left: 2%;
}
.title1 .data{
	text-align: left;
	padding-left: 2%;
}
.title1 td {
	padding: 8px 0 9px;
	border-bottom: solid 1px #d2d2d2;
	text-align: center;
	line-height: 40px;
}
/* 공지 사항 */
/* 페이지 갯수 */
.pagination {
	height: 27px;
    margin-top: 50px;
    width: 100%;
}

.pagination ul {
	position: relative;
	left: 400px;
}
.pagination ul li {
	float:left;
}
.pagination ul li a {
	padding:4px;
	margin-right:10px;
	width:15px;
	color:#000;
	font: 15px;
	text-align:center;
	text-decoration:none;
}
.pagination ul li a:hover, ul li a:focus {
	text-decoration: underline;
}
/* 페이지 갯수 */

/* 푸터 시작 */
footer {
	position: absolute;
	background-color: #59595b;
	color: white;
	height: 100px;
	width : 100%;
	margin : 0 auto;
	padding : 50px 0 0 0;
	top : 1100px;
	text-align: center;
	clear: both;
}
footer ul li{
	list-style: none;
	display: inline-block;
}
/* 푸터 종료 */

/* 타블렛 설정 */
@media all and (min-width:426px) and (max-width:768px) {
	body {
	max-width: 768px;
	min-width: 426px;
	height: 1024px;
	overflow-x: hidden;
	}
	
	header {
    width: 768px;
    height: 69px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px;
    background-color: #f6f5f0;
    position: fixed;
	}
	header>.menubar {
    position: fixed;
    width: 768px;
    height: auto;
    margin: 0 auto;
	}
	header .menubar .logo {
	position: absolute;
    left: 10px;
    top: 13px;
    width: 45px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
	}
	header .menubar .logo a{
	display: block;
    height: 45px;
    text-indent: -9999px;
	}
	header>.menubar>nav {
    position: relative;
    left: 450px;
    top: 10px;
}
}
@media all and (min-width:426px) and (max-width:768px) { 
	section {
    width: 768px;
    min-width: 426px;
	height: 1024px;
   	overflow-x: hidden;
	}
	#title {
    position: relative;
    width: 96%;
    
    top: 100px;
    height: 98px;
    margin: 0 auto;
	}
	#article {
    position: relative;
    width: 768px;
    top: 100px;
    margin: 0 auto;
	}
	.notice_tb {
    width: 96%;
    margin: 0 auto;
    position: relative;
	}
	.pagination {
    height: 27px;
    margin-top: 50px;
    width: 100%;
	}
	.pagination ul {
    position: relative;
    left: 300px;
	}
}