@charset "utf-8";
#wrap {
	width: 100%;
	height : 100px;
	margin: 0 auto;
}
/* clearfix는 li에 float:left를 하는경우
내려가는 것을 방지하는 마감선이다.
li 부모태그(ul/ol)에 class로 지정한다. */
.clearfix {
	*zoom: 1;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '';
}
section {
	width: 100%;
}

header {
	width: 100%;
	height: 130px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 2px solid #000;
	background-color: #f6f5f0;
	position: fixed;
	z-index: 2;
}
/* margin:0 auto는 가운데로 정렬. width값이 있어야 먹힌다.
position:relative는 부모에게 걸어주도록한다.움직이는 컨텐츠의 기준점이 되는 것임. */
header>.menubar {
	position: relative;
	width: 1100px;
	height: 130px;
	margin: 0 auto;
}
/* absolute로 설정하여 relative를 건 부모 기준으로
위치 이동시키는 것.left,top,right,bottom으로 이용가능 */
header>.menubar>.logo {
	position: absolute;
	left: 10px;
	top: 23px;
	width: 80px;
	background-image: url(../img/logo.png);
	/* no-repeat은 이미지의 반복을 막아준다 */
	background-repeat: no-repeat;
	/* cover:가로기준으로 사이즈 지정 */
	background-size: cover;
}
/* a태그의 가로세로 값을 지정하려면
display:block 사용해야함.
보통 a태그에 세로값 지정합니당 */
header>.menubar>.logo>a {
	display: block;
	height: 80px;
	/* 안드로메다 : 글을 눈에 안보이도록 함. 시멘틱적 */
	text-indent: -9999px;
}

header>.menubar>nav {
	position: absolute;
	right: 40px;
	bottom: 27px;
}

header>.menubar>nav>.gnb {
	
}

header>.menubar>nav>.gnb>li {
	float: left;
}

header>.menubar>nav>.gnb>li>a {
	height: 50px;
	padding: 0 30px;
	font-size: 13px;
	line-height: 50px;
	text-align: center;
	position: relative;
	display: inline-block;
}

header>.menubar>nav>.gnb>li>ul>li {
	display: none;
	position: relative;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	background-color: #f9f9f9;
}

header>.menubar>nav>.gnb>li>ul>li a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
/* 드롭다운 메뉴바 이동 방지 */
.menu1 {
	position: fixed;
}

.menu2 {
	position: fixed;
}

.menu3 {
	position: fixed;
}

.menu1 li {
	width: 100px;
	display: block;
}

.menu2 li {
	width: 100px;
	display: block;
}

.menu3 li {
	width: 100px;
	display: block;
}

header>.menubar>nav>.gnb>li:hover {
	background-color: gray;
	FONT-WEIGHT: bolder;
}

header>.menubar>nav>.gnb>li:hover .menu1 li {
	display: block;
}

header>.menubar>nav>.gnb>li:hover .menu2 li {
	display: block;
}

header>.menubar>nav>.gnb>li:hover .menu3 li {
	display: block;
}
/* 헤더 종료*/



/*본문 시작*/
section{
	clear: both;
	background-color: black;
	position: relative;
}

#a{
	height : 600px;
	width: 100%;
	position : relative;
	background : url('../img/divA.jpg') no-repeat;
	background-size : 100% 100%; 
}
#a #bev{
	position : absolute;
	height: 400px;
	width: 600px;
	top : 50px;
	left: 40%;
}
#a #s3emb{
	position : absolute;
	height: 200px;
	width: 200px;
	top : 100px;
	right: 60%;
}
#Atextbox{
	position : absolute;
	right: 60%;
	top : 400px;
	color: white;
}

#Atextbox a{
	color : white;
	font-size: 25px;
	border: 2px solid;
	border-radius: 10px;
	padding: 5px;
}
#Atextbox a:hover{
	background : rgba(128,128,255,0.7);
}

#b{
	background: black;
	height : 50px;
	position: relative;
}
#Btitle{
	color: white;
	position : absolute;
	font-size: 25px;
	left : 5px;
	text-align: left;
}
#Btextbox{
	color: white;
	position : absolute;
	font-size: 20px;
	top : 15px;
	left : 300px;
	text-align: left;
	float: left;
}
#Btextbox a{
	color: white;
}
#Btextbox a:hover{
	text-decoration: underline;
}

#c{
	position : relative;
	height : 500px;
	width: 100%;
	background: #cce8e2;
	background-size : 100% 100%; 
}
#c #s2emb{
	position : absolute;
	left : 15%;
	top : 100px;
	height: 200px;
	width: 600px;
}
#c #MD{
	position : absolute;
	bottom : 0px;
	right: 0px;
	width: 80%;
	height : 50%;
}
#Ctextbox{
	position : absolute;
	background : rgba(255,255,255,0.5);
	left : 15%;
	top : 330px;
	height : 100px;
	width : 500px;
	border-radius : 10px;
	z-index: 2;
	padding: 10 0 0 0;
}
#Ctextbox ul{
	position : absolute;
	left : 15%;
}
#Ctextbox ul li{
	list-style: circle;
}
#Ctextbox a{
	position : absolute;
	left : 13%;
	top : 40px;
	font-size : 20px;
	font-weight : bold;
	border: 2px solid;
	border-radius: 10px;
	padding : 5px;
	color: #3f1b12;
}
#Ctextbox a:hover{
	background: rgba(0,64,128,0.5);
}
#d{
	position : relative;
	height : 241px;
	width: 100%;
	background: #e6d286;
}
#d star{
	position : absolute;
	height : 100%;
	width : 50%;
	left: 0px;
}
#Dtextbox{
	position: absolute;
	height: 100px;
	width : 1000px;
	bottom : 50px;
	left: 30%;
}
#Dtextbox h2{
	font-size: 40px;
}
#Dtextbox p{
	font-size: 20px;
}
#e{
	position : relative;
	background: url('../img/divE.jpg') no-repeat;
	background-size : 100% 100%;
	height: 500px;
	width: 100%;
}
#e #been{
	height: 400px;
	width: 200px;
	position : absolute;
	top : 10%;	
	left : 40%;
}
#Etextbox{
	height : 300px;
	width : 300px;
	position: absolute;
	bottom: 100px;
	right : 20%;
	font-size: 25px;
	color : white; 
}
#Etextbox h2{
	font-size: 20px;
}
#Etextbox p{
	font-size : 15px;
}
#Etextbox a{
	font-size : 20px;
	position: absolute;
	bottom : 20px;
	left : 0px;
	border: 2px solid;
	border-radius :10px;
	padding: 5px;
	color : white; 
}
#Etextbox a:hover{
	background: rgba(0,64,128,0.5);
}
/* 본문 종료 */

/* 푸터 시작 */
footer {
	background-color: #59595b;
	color: white;
	position : relative;
	height: 100px;
	bottom : 0;
	padding : 50px 0 0 0;
	text-align: center;
}
footer ul li{
	list-style: none;
	display: inline-block;
}
/*푸터 종료*/

/* 헤더 부분 */
@media all and (min-width:426px) and (max-width:768px) {
	#wrap {
	max-width: 768px;
	min-width: 426px;
	}
	body {
	max-width: 768px;
	min-width: 426px;
	height: 100%;
	overflow-x: hidden;
	}
	
	header {
    max-width: 768px;
	min-width: 426px;
    height: 69px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px;
    background-color: #f6f5f0;
    position: relative;
	}
/* 헤더 종료 */

/* 네비게이션 바 */
	header>.menubar {
    position: relative;
    width: 96%;
    height: auto;
    margin: 0 auto;
	}
	header .menubar .logo {
	position: absolute;
    left: 10px;
    top: 13px;
    width: 45px;
	}
	header .menubar .logo a{
    height: 45px;
	}
	header>.menubar>nav {
    position: absolute;
    right: 10px;
    top: 10px;
	}
}
/* 네비 바 */
@media all and (min-width:426px) and (max-width:768px) {
	section{
		overflow-x: hidden;
	}
}
@media all and (min-width: 426px) and (max-width: 659px) {
	#a {
		height: 400px;
	}
	#a #s3emb {
		height: 150px;
    	width: 150px;
    	top: 5%;
	}
	#a #bev {
		height: 200px;
    	width: 300px;
    	top: 20%;
    	left: 35%;
	}
	#Atextbox {
		width: 140px;
		height: 40px;
		top: 50%;
		right: 60%;
	}
	#Atextbox a {
    	font-size: 20px;
	}
	#Btextbox {
		left:45%;
		padding: 1.5%;
		top: 0px;
	}
	#c #s2emb {
		left: 5%;
		height: 120px;
    	width: 400px;
	}
	#Ctextbox {
		left: -9%;
	}
	#Ctextbox a { 
		top: 80px;
	}
	#d {
	    height: 8.6%;
    	width: 100%;
    }
	#d #star {
		width: 174px;
		height: auto;
	}
	#Dtextbox {
		width: 800px;
		left: 55%;
		bottom: -10%;
	} 
	#Dtextbox h2{
		width: 23%;
		font-size: 1rem;
	}
	#Dtextbox p{
		width: 22%;
		font-size: 0.8rem;
	}
	#Etextbox {
		right: 60%;
		width: 150px;
	}
}
@media all and (min-width: 660px) and (max-width: 768px) {
	#a {
		height: 500px;
	}
	#a #s3emb {
		height: 175px;
    	width: 175px;
    	right: 65%;
	}
	#a #bev {
		height: 300px;
    	width: 450px;
	}
	#Atextbox {
		width: 180px;
		height: 40px;
		top: 60%;
	}
	#c #s2emb {
    	left: 5%;
    }
	#d {
		
	}
	#Dtextbox{
		left: 60%;
	}
	#Dtextbox h2{
		width: 23%;
		font-size: 1rem;
	}
	#Dtextbox p{
		width: 22%;
		font-size: 0.8rem;
	}
	#Etextbox {
		right: 65%;
		width: 200px;
	}
}